.intro {
  text-align: center
}

.center-image-group {
  text-align: center;
  margin: auto;
  display: block;
}

.images {
  width: auto;
  height: 200px;
  outline: dotted pink;
  margin-left: 5%;
  margin-right: 5%;
}

.flashy {
  color: green;
}

.column {
  float: left;
  width: 22%;
  outline: 2px solid black;
  background-color: rgb(255, 234, 238);
  padding: 15px;
  margin: 1.3%;
  box-sizing: border-box;
}

.column h2 {
  text-shadow: .25px .25px .25px white, .5px .5px red, 1px 1px orange, 1.5px 1.5px yellow, 2px 2px green, 2.5px 2.5px blue, 3px 3px purple;
  color: black;
}

.column em {
  color: red;
}

.column strong {
  text-shadow: none;
}

.center-text {
  text-align: center;
}

.box {
  float: left;
  width: 70%;
  outline: 2px solid black;
  background-color: rgb(255, 234, 238);
  padding: 15px;
  margin: 1.3%;
  box-sizing: border-box;
}

.box p {
  text-indent: 15px;
}

strong {
  text-shadow: 1px 1px 5px pink;
}

body {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
